<% config.bodyCls='home' %>
<%- include('_common/header.html', config) %>

<div class="container">
    <h1>gulp-browsersync-boilerplate</h1>

    <ul>
        <li>gulp</li>
        <li>browser-sync</li>
        <li>requirejs</li>
        <li>less</li>
        <li>jQuery</li>
    </ul>

    <ul>
        <li>
            <div class="icon-vip-pc"></div>
        </li>
        <li>
            <div class="icon-vip-calendar"></div>
        </li>
        <li>
            <div class="icon-vip-feed"></div>
        </li>
        <li>
            <div class="icon-vip-video"></div>
        </li>
    </ul>
</div>

<script>
    // test
    require(['main'])
</script>

<%- include('_common/footer.html') %>