node_modules/
html/
www/

node_modules

bower_components
/bower_components

tmp
/tmp 
temp
/temp 

tags

.idea
.idea/

svn/

*.exe

.c9*
.settings

Thumbs.db
ehthumbs.db

Desktop.ini

.DS_Store

.svn

*.swo
*.swp

.vscode
.vscode/